<!doctype html>
<head>
	<title>O olho de Thundera  - Project The Eye Snake</title>
	<!-- JavaScript Bundle with Popper -->
<script src="static/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<!-- CSS only -->
	<link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
	

<script src="static/base.js"></script>
</head>
<body>
	<h1>Obrigado po atualizar nossos dados!</h1>
	<p>
		Peque aqui sua criptomoeda:
		<cb>{{ random_str }}</cb>! <!--Gets the random number from the python file-->
	</p>

	<a href="/">Volte para Thundera</a>
</body>